<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Alunos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    
    <div class="container">

        <table class="table">

            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
            </tr>

            <% for(let aluno of listaAlunos) {  %>
                <tr>
                    <td>
                        <%= aluno.matricula%>
                    </td>
                    <td>
                        <%= aluno.nome%>
                    </td>
                </tr>

            <% } %>

        </table>

    </div>

</body>

</html>